@import "bootstrap/scss/bootstrap";

body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding-top: 1vh;
    position: relative;
    z-index: 2;
}

.nav {
    display: flex;
    gap: 3vw;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.banner-texts {
    width: 30vw;
}

.title-banner {
    font-weight: 300;
    padding-bottom: 3vh;
    color: black;
    text-align: left;


    span {
        font-weight: 900;
        font-style: normal;
    }
}

.subtitle-banner {
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    color: #666666;
    text-align: left;

    span {
        font-weight: 700;
        font-style: normal;
    }
}

.buttons-banner {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    margin-top: 3vh;
}

.list-text-banner {
    display: flex;
    width: 35vw;
    flex-direction: row;
    gap: 1vw;
    margin-top: 10vh;
}

.list-text-banner div {
    display: flex;
    flex-direction: row;
    justify-content: center;

    p {
        font-weight: 300;
        font-style: normal;
        font-size: 12px;
        color: #666666;
        margin-left: 0.5vw;
        margin-top: 1vh;
        width: 12vw;
        text-align: left;

    }

    img {
        background-color: #eeeeee;
        padding: 15px;
        border-radius: 100%;
    }
}

.subtitle-list-text-banner {
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    color: #666666;
}

.carousel {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: auto;
}

.carousel-container {
    height: 56vw;
}

.carousel-caption {
    left: 0;
    top: 0;
    margin-left: 10vh;
    margin-top: 20vh;
}

.carousel-control-prev,
.carousel-control-next {
    width: 3vw;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.bold-black {
    color: black;
    font-weight: bold;
}

.list-paragraphs {
    width: 75vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    border-top: 1px solid #e9e9e9;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(85% + 50px);
    padding-top: 10px;
    justify-content: space-between;

    p {
        font-weight: 300;
        font-style: normal;
        font-size: 12px;
        margin-left: 0.5vw;
        margin-top: 1vh;
    }

    span {
        font-weight: 700;
        font-style: normal;
        font-size: 12px;
        margin-top: -0.8vh;
    }
}

.list-paragraphs-icon {
    margin-right: 0.5vw;
}

.counters-list {
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 10px;
    justify-content: space-evenly;
    background-color: #eeeeee;
}

.numbers {
    display: flex;
    justify-content: space-around;
}

.number {
    margin-right: 10px;
    margin-left: 10px;
}

.number .counter {
    display: flex;
    font-weight: bold;
    font-size: 2.9em;
    margin: 6px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.number span {
    font-size: 1.2em;
    display: block;
}

.quantity-number {
    margin-left: 0.5vw;
}

.counters-title {
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    line-height: 17px;
    color: #4b4b4b;
    font-weight: 500;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        background-color: #fdd202;
        border-radius: 50%;
        z-index: -1;
    }
}

.about {
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/back-sobre.png");
    background-repeat: no-repeat;
    margin-top: 15vh;
}

.left-side-about {
    color: white;
    font-weight: 300;
    transform: translateX(130%);
    padding-top: 51vh;
    width: 278px;
    height: 104px;
    font-size: 14px;
    line-height: 30px;

    strong {
        color: white;
    }

    span {
        color: #fdd201;
        font-weight: 700;
    }
}

.right-side-about {
    width: 448px;
    height: 173px;
    font-size: 14px;
    line-height: 22px;
    color: #666666;
    position: absolute;
    right: 0;
    top: 135%;
    transform: translate(-10%);

    h1 {
        width: 350px;
        height: 98px;
        font-size: 40px;
        line-height: 56px;
        color: #000000;
        font-weight: 300;
        margin-bottom: 4vh;

        span {
            font-weight: 700;
            color: #fdd201;
        }

        strong {
            font-weight: 700;
        }
    }
}

.road-info {
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/home-coleta-pista-ico.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -29vh;
}

.title-subtitle {
    width: 100vw;
    height: 466px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 4vh;

    h5 {
        font-size: 22px;
        line-height: 26px;
        color: #2cb476;
        font-weight: bold;
    }

    p {
        font-size: 14px;
        line-height: 22px;
        color: #4b4b4b;
    }
}

.infos-coleta {
    width: 20vw;
    padding-left: 4vw;
    margin-top: -43vh;
    position: relative;

    &+.infos-coleta {
        margin-top: 20vh;
    }

    h5 {
        position: relative;
        padding-left: 20px;
        margin-bottom: 3vh;
        font-size: 12px;
        line-height: 17px;
        color: #4b4b4b;
        font-weight: 500;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            background-color: #fdd202;
            border-radius: 50%;
            z-index: -1;
        }
    }

    p {
        width: 250px;
        height: 103px;
        font-size: 12px;
        line-height: 22px;
        color: #666666;
    }

    &:nth-child(1) {
        margin-top: -25vw;
    }

    &:nth-child(2) {
        margin-left: 15vw;
    }

    &:nth-child(3) {
        left: 55%;
        margin-top: -38vh;
    }

    &:nth-child(4) {
        left: 50%;
        margin-top: 30vh;
    }
}

.recicle-list {
    width: 100vw;
    height: 86vh;
    background-color: #2cb476;
}

.div-recicle {
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.header-recicle {
    display: flex;
    width: 100%;
    padding-top: 5vh;
    flex-direction: row;
    justify-content: space-between;

    h3 {
        width: 423px;
        height: 110px;
        font-size: 35px;
        line-height: 63px;
        color: #ffffff;
        font-weight: 300;

        span {
            font-weight: 700;
        }
    }

    button {
        width: 200px;
        height: 54px;
        border-radius: 5px;
        background-color: #fdd202;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5vw;
        font-size: 13.5px;
        line-height: 17px;
        margin-top: 6vh;
    }
}

.image-recicle {
    display: flex;
    width: 100%;
    justify-content: center;
}